
 h1 {
      text-align: center;
      font-size: 40px;
      color: #222;
      margin-bottom: 25px;
      position: relative;
    }
    
    p {
      color: beige;
    }

    div.scroll-box {
      max-height: 200px;
      overflow-y: scroll;
      padding: 10px;
      background: #474747;
      color: #ddd;
      border: 2px solid #444;
      border-radius: 10px;
      margin: 10px auto;
      max-width: 600px;
    }

    hr {
      max-width: 350px;
      margin: 10px auto;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    button {
      font-size: 20px;
      padding: 15px 30px;
      color: white;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      margin: 10px;
    }

    .btn-red {
      background-color: #ff4d4d;
    }

    .btn-blue {
      background-color: #4d79ff;
    }
    #Parathe {
      color: rgb(128, 18, 18);
      outline: auto;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-style: calc(135deg, #fdfbfb, #ebedee);
    }
    .func {
      font-style: initial;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-variant-ligatures: historical-ligatures;
      animation: infinite;
      animation-duration: calc(135deg, #fdfbfb, #ebedee);
    }
    body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      background: linear-gradient(135deg, #75a7b6, #607d88);
      animation: fadeIn 1.2 ease-in;
      color: #333;
    }

